<div data-role="page">
    <!-- 로고 -->
    <div data-role="header">
        <h1 class="logo" style="font-size:15px; font-weight:600;">AfterSquat</h1>
    </div> 
    <!--내용-->
    <div  data-role="content">
        <%= render 'form' %>
    </div>
    <!--하단버튼-->
    <div data-role="footer" data-position="fixed">
    </div>
</div>